// 颜色定义规范
$color-background = #fff
$color-background-header = #f6f6f6
$color-background-footer = #e2e2e2
$color-background-blue = #1b6bb1
$color-background-green = #3fb34f
$color-background-dark = #646464
$color-background-black = #030303
$color-background-mask = rgba(0,0,0,0.5)

$color-text-basic = #777777
$color-text-blue = #1d428d
$color-text-white = #fff


//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px